<div *ngIf="authService.isLoggedIn()" class="offcanvas offcanvas-start custom-offcanvas" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title text-primary fw-bold" id="offcanvasWithBothOptionsLabel">Menu Navigasi</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="list-group list-group-flush">
      <!-- Dashboard -->
      <li class="list-group-item custom-item">
        <a class="nav-link custom-link d-flex align-items-center gap-2" routerLink="/pemeriksaan" routerLinkActive="active">
          <i class="bi bi-clipboard2-check-fill"></i> Pemeriksaan
        </a>
      </li>
      <!-- Dokter -->
      <li class="list-group-item custom-item">
        <a class="nav-link custom-link d-flex align-items-center gap-2" routerLink="/dokter" routerLinkActive="active">
          <i class="bi bi-person-fill"></i> Dokter
        </a>
      </li>
      <!-- Pasien -->
      <li class="list-group-item custom-item">
        <a class="nav-link custom-link d-flex align-items-center gap-2" routerLink="/pasien" routerLinkActive="active">
          <i class="bi bi-people-fill"></i> Pasien
        </a>
      </li>
      <!-- Logout -->
      <li class="list-group-item custom-item">
        <a class="nav-link custom-link d-flex align-items-center gap-2" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</div>
